<div class="container about-section w-100" id="about-us">
    <div class="row">
      <div class="col-lg-6 img">
        <img src="./img/about-img.jpg" alt="about-img" class="w-100"/>
      </div>
      <div class=" col-lg-6 about-text">
        <h1 class="text-center">A Few Words About Us</h1>
        <h5 class="text-center">Committed to Education</h5>
        <p>
          Global English Medium School is established with the sole purpose to
          create a nurturing space for the students to expand their horizons,
          and cultivate their inherent talents. With an unwavering commitment
          to excellence, we provide an extraordinary educational approach
          guided by a team of devoted educators enthusiastic about empowering
          our students to embark on a journey to reach their fullest
          potential, both personally and academically. By infusing creativity
          and interactivity into our teaching methods, we strive to make
          education a truly captivating experience. Our philosophy revolves
          around recognizing and embracing the unique interests of every
          student and providing them with tailored opportunities to grow and
          evolve in alignment with their passions and aspirations. At Global
          English Medium School, we believe in transforming learning into a
          delightful and engaging journey for each and every child.
        </p>
      </div>
    </div>
</div>
