<div class="container about-section w-100" id="about-us">
    <div class="row">
      <div class="col-lg-6 img">
        <img src="./img/about-img.jpg" alt="about-img" class="w-100"/>
      </div>
      <div class=" col-lg-6 about-text">
        <h1 class="text-center"><%= aboutUsTitle %></h1>
        <h5 class="text-center"><%= aboutUsSubtitle %></h5>
        <p>
          <%= aboutUsParagraph %>
        </p>
      </div>
    </div>
</div>
