<section class="container pt-5 my-5 activities" id="activities">
    <header>
        <h2>Activities</h2>
    </header>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button z-0" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Pre-Primary
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image2.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Regular Yoga</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image4.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Camp Fire</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image5.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Cultural Activities</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image6.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Color Day Celebrations</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image7.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Motor Skills Activities</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image8.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Loving and Caring Teacher</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3 hidden-activity d-none">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image16.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Gandhi Jayanti Celebration</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image10.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>E-Learning</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed z-0" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Primary
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image12.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Immersing into the Nature</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image1.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Indoor Games</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image3.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Nature is the best classroom!</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image9.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Visit to Historical Places</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image11.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Educational Tours - Visit to Global 20 Summit</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image13.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Adventurous Activities</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image14.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Sowing Seeds of Nature Conservation Thoughts</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 activity my-3">
                        <div class="d-flex justify-content-around align-items-between">
                            <div class="img-container">
                                <img class="w-100 h-100" src="./img/activities/image15.png">
                            </div>
                            <div class="texts ms-3 w-75 pt-5">
                                <h5>Science Experiments</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>