<section class="contact-us px-3 py-5" id="contact-us">
    <div class="container">
        <div class="heading text-center mb-5">
        <h2>
            School
            <span> Enquiry Form </span>
        </h2>
        </div>
        <div class="row">
        <div class="Enquiry-Form col-lg-6 col-12">
            <form action="/handle-form">
            <div class="row">
                <div class="col-sm-6">
                <input
                    type="text"
                    placeholder="First Name"
                    name="fname"
                    required
                />
                </div>
                <div class="col-sm-6">
                <input
                    type="text"
                    placeholder="Last Name"
                    name="lname"
                    required
                />
                </div>
                <div class="col-sm-12">
                <input
                    type="text"
                    placeholder="Contact Number"
                    name="contact"
                    required
                />
                </div>
                <div class="col-sm-12">
                <input
                    type="email"
                    placeholder="Email"
                    name="email"
                    required
                />
                </div>
                <div class="col-12">
                <input
                    type="text"
                    placeholder="Student Name if different"
                    name="studentName"
                />
                </div>
                <div class="col-sm-6">
                <input
                    type="number"
                    placeholder="Age"
                    min="5"
                    name="age"
                    required
                />
                </div>
                <div class="col-sm-6">
                <input
                    type="text"
                    placeholder="Grade Level"
                    required
                    name="gradeLevel"
                    required
                />
                </div>
                <div class="col-12">
                <input
                    type="text"
                    class="remark"
                    placeholder="Remark if any"
                    name="remark"
                />
                </div>
                <div class="col-sm-4">
                <input type="submit" value="SEND" class="button" name="btn" />
                </div>
            </div>
            </form>
        </div>
        <div class="map-section container col-lg-6 col-12 p-lg-3">
            <div id="map">
                <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d313.4314045363857!2d73.83189833116332!3d18.45732550988694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc295001cb07871%3A0xafbedbbc8ed0b324!2sGlobal%20English%20Medium%20School!5e1!3m2!1sen!2sin!4v1723366353819!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </div>
    </div>
</section>
