<section class="contact-us px-3 py-5" id="contact-us">
    <div class="container">
        <div class="heading text-center mb-5">
        <h2>
            <span>School Enquiry Form </span>
        </h2>
        </div>
        <div class="row">
        <div class="Enquiry-Form col-lg-6 col-12">
            <% if (emailSuccess) { %>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>We have received you enquiry. We will contact you shortly.</p>
                    <hr>
                    <p class="mb-0">Thank You!</p>
                </div>
            <% } %>
            <form action="/handle-form">
            <div class="row">
                <div class="col-sm-6">
                <input
                    type="text"
                    placeholder="First Name"
                    name="fname"
                    required
                />
                </div>
                <div class="col-sm-6">
                <input
                    type="text"
                    placeholder="Last Name"
                    name="lname"
                    required
                />
                </div>
                <div class="col-sm-12">
                <input
                    type="text"
                    placeholder="Contact Number"
                    name="contact"
                    required
                />
                </div>
                <div class="col-sm-12">
                <input
                    type="email"
                    placeholder="Email"
                    name="email"
                    required
                />
                </div>
                <div class="col-12">
                <input
                    type="text"
                    placeholder="Student Name if different"
                    name="studentName"
                />
                </div>
                <div class="col-sm-6">
                <input
                    type="number"
                    placeholder="Age"
                    min="5"
                    name="age"
                    required
                />
                </div>
                <div class="col-sm-6">
                <input
                    type="text"
                    placeholder="Grade Level"
                    required
                    name="gradeLevel"
                    required
                />
                </div>
                <div class="col-12">
                <input
                    type="text"
                    class="remark"
                    placeholder="Remark if any"
                    name="remark"
                />
                </div>
                <div class="col-sm-4">
                <input type="submit" value="SEND" class="button" name="btn" />
                </div>
            </div>
            </form>
        </div>
        <div class="map-section container col-lg-6 col-12 p-lg-3">
            <div id="map">
                <iframe class="w-100" src="<%= googleMapUrl %>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        </div>
    </div>
</section>
