<section class="d-flex 
                justify-content-around 
                hero"
                id="home">

        <!-- inner-hero division contains 1 division i.e.,:
                1. texts
                    the text inside .texts divsion is centre-aligned at screen size sm.
                    the text inside .texts divsion is left-aligned at screen size md.
                    the buttons inside .texts divsion is in flexbox (around) at screen size sm.
                    the buttons inside .texts divsion is in flexbox (start) at screen size md.
        -->
        <div class="d-flex 
                flex-column 
                align-items-between 
                justify-content-around 
                inner-hero">
            <div class="texts text-center text-sm-start text-white px-3 ml-md-5">
                <h2 class=""> The Gems Vision </h2>
                <h1 class="font-weight-bold"> Building The Future Vision </h1>
                <p class="my-4 font-weight-normal">At GEMS, we firmly hold the belief that education should holistically nurture and harmonize every facet of an individual's being. Central to this vision is the vital objective of fostering moral and character development in every student. Our aim is to guide each child towards realizing their innate godliness, enabling them to evolve into extraordinary individuals. Moreover, we recognize the significance of cultivating each child's unique abilities and areas of interest, ensuring their growth aligns with their true potential. At GEMS, we are dedicated to empowering students to become divine human beings who embrace their individuality and make a positive impact on the world around them.</p>
                <div class="w-100 
                    d-flex 
                    justify-content-around 
                    justify-content-sm-start 
                    align-items-center 
                    font-weight-normal
                    mt-sm-5">
                    <button class="py-2 px-3 py-sm-2 px-sm-5 me-3 me-sm-4">Read More</button>
                    <button class="py-2 px-3 py-sm-2 px-sm-5 bg-white">Contact Us</button>
                </div>
            </div>


        </div>
    </section>