<nav class="navbar navbar-expand-lg navbar-dark sticky-top custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./img/logo-square.png" alt="...">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
        <% let individualNavLinks = navLinks.split(',') %>
            <% for (let i = 0; i < individualNavLinks.length; i++) { %>
                <% const [name, link] =  individualNavLinks[i].split('[') %>
                <li class="nav-item mx-3">
                    <a class="nav-link active" aria-current="page" href="<%= link.replace(']', '') %>"><%= name %></a>
                </li>
        <% } %>
        <li class="nav-item mx-3">
            <a class="nav-link active" href="#contact-info">CONTACT US</a>
        </li>
        </ul>
      </div>
    </div>
</nav>