<section class="navbar">
    <div class="mobile">
        <div class="brand">
            <a href="#Home" class="logo">
                <img src="./img/logo-square.png" alt="School Logo">
            </a>
        </div>
        <div class="hamburger">
            <a class="icon">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <div class="navlinks">
        <% let individualNavLinks = navLinks.split(',') %>
        <% for (let i = 0; i < individualNavLinks.length; i++) { %>
                <% const [name, link] =  individualNavLinks[i].split('[') %>
                <a href="<%= link.replace(']', '') %>" class="nav-item"><%= name %></a>
        <% } %>
        <!-- <a href="#about-container" class="nav-item">ABOUT US</a> -->
        <!-- <a href="#philosophy" class="nav-item">OUR PHILOSOPHY</a> -->
    </div>
    <a href="#contact-info" class="apply">CONTACT US</a>
</section>