<section class="about_section bg-white py-5" id="our-philosophy">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
        <div class="img-box w-50 h-50">
            <img src="img/inspiration.png" alt="">
        </div>
        </div>
        <div class="col-md-5 col-lg-4">
        <div class="detail-box">
            <div class="heading_container">
            <h2>
                The GEMS Philosophy
            </h2>
            </div>
            <p>
            <center>"We want education by which character is formed, strength of mind is increased, the intellect is expanded and by which one can stand on one's own feet."
                - SWAMI VIVEKANANDA
                </center>

            </p>
            <div class="d-flex justify-content-center">
            <a class="readmore" href="">
                Read More
            </a>
            </div>

        </div>
        </div>
    </div>
    <div class="row mx-5">
        <p class="mt-sm-4 fs-5">
        At GEMS we believe in the profound philosophy of Swami Vivekananda. Backed by substantial expertise in the education field, our leadership has crafted a philosophy, that has yielded remarkable results throughout the years. Our distinctive teaching approach fosters an atmosphere of appreciation, empowerment, and respect, ensuring that each student feels capable and valued. Through the collaborative environment, we strive to create an interactive educational experience for every student.
        </p>
    </div>
    </div>


</section>
