<section class="social">
    <div class="frame">
        <a href="https://www.facebook.com/profile.php?id=100066502790889&mibextid=ZbWKwL" class="btn">
            <i class="fab fa-facebook-f" style="color: #3b5998"></i>
        </a>
        <!-- <a href="#" class="btn">
            <i class="fab fa-twitter" style="color: #00acee"></i>
        </a> -->
        <a href="https://www.instagram.com/gemspune?utm_source=qr&igsh=cjVtamVkZDU3bzd0" class="btn">
            <i class="fab fa-instagram fa-2x insta-icon"></i>
        </a>
        <!-- <a href="#" class="btn">
            <i class="fab fa-linkedin-in" style="color: #0e76a8"></i>
        </a> -->
        <a href="mailto:gems.31314@gmail.com" class="btn">
            <i class="far fa-envelope"></i>
        </a>
    </div>
</section>
