<section class="testimonial">
    <div id="carouselExampleIndicators" class="my-5 carousel slide">
        <div class="carousel-indicators z-1">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
        </div>
        <div class="carousel-inner">
            <h1>Testimonials</h1>
            <div class="carousel-item active">
                <div class="container testimonial-container">
                    <img src="./img/Person.png" alt="Avatar" style="width:90px;">
                    <h3>Dr. Pramod Kadam</h3>
                    <h5>Sr. Software Engg. Parent of 6<sup>th</sup> Grade student</h5>
                    <p class="review">"As a parent, I couldn't be happier with the education my children have received at Global School. The community is welcoming, the curriculum is challenging, and the emphasis on character development is unmatched. My children have not only excelled academically but have also grown into confident and compassionate individuals."</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container testimonial-container">
                    <img src="./img/Person.png" alt="Avatar" style="width:90px">
                    <h3> Prof. Sunil Khot</h3>
                    <h5>PICT College, Pune. Parent of a 1<sup>st</sup> and an 8<sup>th</sup> grade student</h5>
                    <p class="review">"Choosing Global School for our children has been one of the best decisions we've ever made. The school's nurturing environment, combined with its rigorous academic program, has helped our kids thrive both in and out of the classroom. We've seen tremendous growth in their confidence, critical thinking skills, and love for learning. The supportive community of teachers and staff truly care about each child's success."</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container testimonial-container">
                    <img src="./img/Person.png" alt="Avatar" style="width:90px">
                    <h3>Mr. Abhishekh Gorpade</h3>
                    <h5>Sr. Software Developer. Parent of a Grade 5 Student</h5>
                    <p class="review">"What sets Global School  apart is the focus on the whole child. Not only are our children excelling academically, but they are also developing strong moral values and social skills. The teachers are passionate, approachable, and always willing to go the extra mile to support our kids. We feel confident that they are receiving an education that prepares them for future challenges while also encouraging their individual talents."</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container testimonial-container">
                    <img src="./img/Person.png" alt="Avatar" style="width:90px">
                    <h3>Prof. Sunil Khot</h3>
                    <h5>PICT College, Pune. Parents of a Grade 8 Student</h5>
                    <p class="review">"From the moment we stepped onto the campus of Global School, we knew it was the right place for our daughter. The welcoming atmosphere, diverse curriculum, and emphasis on character education have made a significant impact on her development. She comes home excited about what she's learned every day, and we've seen her grow into a curious and confident young person. We're so grateful for the care and attention she receives from her teachers."</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container testimonial-container">
                    <img src="./img/Person.png" alt="Avatar" style="width:90px">
                    <h3>Karen L.</h3>
                    <h5>Parent of a Grade 6 Student</h5>
                    <p class="review">"We've been part of the Global School community for several years, and it feels like a second family. The individualized attention each child receives is unparalleled, and the school's commitment to fostering a love of learning is evident in everything they do. Our son has flourished here, both academically and socially, and we couldn't be happier with the progress he's made."</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container testimonial-container">
                    <img src="./img/Person.png" alt="Avatar" style="width:90px">
                    <h3>Mr. Pravin Mane</h3>
                    <h5>Sr. Software Engg. Parents of Grades 4</h5>
                    <p class="review">"At Global School, our children are not just students; they are valued members of a caring community. The school's approach to education is holistic, balancing academics with social, emotional, and ethical development. We've seen our children become more confident, independent, and motivated learners. The dedication of the teachers and staff is extraordinary, and we are proud to be part of this wonderful school."</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container testimonial-container">
                    <img src="./img/Person.png" alt="Avatar" style="width:90px">
                    <h3>Arnav Hulawale</h3>
                    <h5>8<sup>th</sup> Grade Student</h5>
                    <p class="review">"My time at Global School  has been nothing short of amazing. The teachers are passionate and truly care about each student's success. The small class sizes mean I get personalized attention, and the diverse range of extracurricular activities has allowed me to explore my interests. I feel well-prepared for college and beyond!"</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>